<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/sampledata/LICENSE.txt
 *
 * @package       AuroraExtensions_SimpleReturnsSampleData
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AuroraExtensions\SimpleReturnsSampleData\Setup\Patch\Data\CreateRmaSampleData">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="store_id" xsi:type="number">0</item>
                    <item name="order_id" xsi:type="number">1</item>
                    <item name="status" xsi:type="string">pending</item>
                    <item name="reason" xsi:type="string">wrong_item</item>
                    <item name="resolution" xsi:type="string">replacement</item>
                    <item name="comments" xsi:type="string"><![CDATA[The items received are different than what I ordered.]]></item>
                    <item name="remote_ip" xsi:type="string">216.239.32.5</item>
                </item>
                <item name="1" xsi:type="array">
                    <item name="store_id" xsi:type="number">0</item>
                    <item name="order_id" xsi:type="number">2</item>
                    <item name="status" xsi:type="string">approved</item>
                    <item name="reason" xsi:type="string">missing_broken_parts</item>
                    <item name="resolution" xsi:type="string">refund</item>
                    <item name="comments" xsi:type="string"><![CDATA[I received the package this morning and the items are damaged.]]></item>
                    <item name="remote_ip" xsi:type="string">66.249.64.9</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AuroraExtensions\SimpleReturnsSampleData\Setup\Patch\Data\CreatePackageSampleData">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="carrier_code" xsi:type="string">ups</item>
                    <item name="method_code" xsi:type="string">03</item>
                    <item name="container_type" xsi:type="string">00</item>
                    <item name="remote_ip" xsi:type="string">146.148.0.4</item>
                </item>
                <item name="1" xsi:type="array">
                    <item name="carrier_code" xsi:type="string">fedex</item>
                    <item name="method_code" xsi:type="string">FEDEX_GROUND</item>
                    <item name="container_type" xsi:type="string">YOUR_PACKAGING</item>
                    <item name="remote_ip" xsi:type="string">89.207.224.10</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AuroraExtensions\SimpleReturnsSampleData\Setup\Patch\Data\CreateAttachmentSampleData">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="filename" xsi:type="string">aurora-jeans-150x150.jpg</item>
                    <item name="filepath" xsi:type="string">/a/u/aurora-jeans-150x150.jpg</item>
                    <item name="filesize" xsi:type="number">13438</item>
                    <item name="mimetype" xsi:type="string">image/jpeg</item>
                    <item name="thumbnail" xsi:type="string">/resized/150x150/aurora-jeans-150x150.jpg</item>
                </item>
                <item name="1" xsi:type="array">
                    <item name="filename" xsi:type="string">pants-150x150.jpg</item>
                    <item name="filepath" xsi:type="string">/p/a/pants-150x150.jpg</item>
                    <item name="filesize" xsi:type="number">10681</item>
                    <item name="mimetype" xsi:type="string">image/jpeg</item>
                    <item name="thumbnail" xsi:type="string">/resized/150x150/pants-150x150.jpg</item>
                </item>
                <item name="2" xsi:type="array">
                    <item name="filename" xsi:type="string">seam-150x150.jpg</item>
                    <item name="filepath" xsi:type="string">/s/e/seam-150x150.jpg</item>
                    <item name="filesize" xsi:type="number">14383</item>
                    <item name="mimetype" xsi:type="string">image/jpeg</item>
                    <item name="thumbnail" xsi:type="string">/resized/150x150/seam-150x150.jpg</item>
                </item>
                <item name="3" xsi:type="array">
                    <item name="filename" xsi:type="string">zipper-150x150.jpg</item>
                    <item name="filepath" xsi:type="string">/z/i/zipper-150x150.jpg</item>
                    <item name="filesize" xsi:type="number">15285</item>
                    <item name="mimetype" xsi:type="string">image/jpeg</item>
                    <item name="thumbnail" xsi:type="string">/resized/150x150/zipper-150x150.jpg</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
